<!-- mon_app/templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="shortcut icon" href="#">
    <link rel="shortcut icon" href="">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{#    <link rel="icon" type="image/png" href="{% static 'images/login/42_logo.png' %}">#}
    <title>{% block title %}Ft-Transcendence{% endblock %}</title>

    <!-- BOOTSTRAP CSS -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous">

    <!-- FONT ICONS AWESOME  -->

    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />

    <!-- BASE CSS -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>


    <link rel="stylesheet" href="{% static 'css/base/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/base/header.css' %}">

    {% block overload_css %}{% endblock %}
</head>

<!-- loader -->
<div class="loader" id="loader">

    <div class="spinner-border text-primary" id="" role="status">
        <span class="sr-only">Loading...</span>
    </div>

    <div class="bg-loader"></div>

</div>


<body>
<!-- Header -->
<header>
    {% block header %}
        {% include 'base/header.html' %}
    {% endblock %}

</header>

<div class="main-content d-flex">

    {% block sideBar %}
        <div class="side-bar">

            <li id="dashboard-link">
                <i class="fa-regular fa-user"></i>
            </li>
            <li id="pong-link"><i class="fa-solid fa-house-laptop"></i>
            </li>
            <li id="lobby-link"><i class="fa-solid fa-users-between-lines"></i></li>
            <li id="tournament-link"><i class="fa-solid fa-trophy"></i></li>
            <li id="chat-link"><i class="fa-regular fa-comments"></i></li>
            <li></li>

        </div>
    {% endblock %}

    <!-- Page -->
    <div class="content">
        {% block content %}

        {% endblock %}

        <style>
            .dashboard-include, .lobby-include, .pong-include, .profile-include, .tournament-include, pong-online-include {
                display: none;
            }

            .navbar {
                display: none;
            }

            .side-bar {
                display: none;
            }
        </style>

        <div class="pong-online-include">
            {% include 'pong_online/pong_online_content.html' %}
        </div>

        <div class="login-include">
            {% include 'login/login.html' %}
        </div>

        <div class="dashboard-include">
            {% include 'dashboard/dashboard_content.html' %}
        </div>

        <div class="lobby-include">
            {% include 'lobby/lobby_content.html' %}
        </div>

        <div class="pong-include">
            {% include 'pong/pong_content.html' %}
        </div>

        <div class="profile-include">
            {% include 'profile/profile_edit_content.html' %}
        </div>

        <div class="tournament-include">
            {% include 'tournament/tournament_content.html' %}
        </div>

        <div class="chat-include">
            {% include 'chat/chat.html' %}
        </div>

    </div>

</div>

<script src="{% static 'js/base/header.js' %}"></script>

<div class="flash-container" id="flash-container">
</div>

{% block overload_javascript %}{% endblock %}
</body>
</html>

<script>
    function showFlashMessage(type, message) {
        const flashContainer = document.getElementById('flash-container');
        const flashMessage = document.createElement('div');
        flashMessage.className = `flash-message ${type}`;
        flashMessage.textContent = message;

        flashContainer.appendChild(flashMessage);

        setTimeout(() => {
            flashMessage.style.animation = 'fadeOut 0.5s ease forwards';
        }, 2000);

        setTimeout(() => {
            flashMessage.remove();
        }, 2500);
    }

    function updateOnlineStatus() {
        fetch('/update-online-status/', {
            method: 'POST',
            headers: {
                'Authorization': `Bearer ${localStorage.getItem('token')}`
            }
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error(`Erreur lors du chargement de ${page}`);
                }
                return response.text();
            })
            .catch(error => {
                console.error('Erreur:', error);
                document.body.innerHTML = '<p>Une erreur est survenue lors du chargement de la page.</p>';
            });
    }

    updateOnlineStatus();

    setInterval(updateOnlineStatus, 300000); // 300000 ms = 5 minutes
</script>