{% load static %}
<nav class="navbar">
		<div class="navbar-logo-container">
			<img src='/static/images/logo/42_logo_white.svg'
				class="navbar-logo"
				id="navbar-logo"
				alt="logo"
			/>
		</div>

      <div class="profile-dropdown">
        <div class="profile-dropdown-btn">
            
          <span class="user-pseudo-header"
            >{{ request.user.pseudo|lower }}
          </span>

            <div class="profile-img" id="profile-img" style="background-image: url('{{ request.user.get_profile_picture_url }}');">
                &nbsp;
            </div>

            <div id="center-div my-user">
                <div class="bubble">
                    <span class="bubble-outer-dot">
                        <span class="bubble-inner-dot">

                        </span>
                    </span>
                </div>
            </div>

        </div>

        <ul class="profile-dropdown-list">
          <li class="profile-dropdown-list-item">
            <a href="#" id="edit-header-link">
              <i class="fa-regular fa-user"></i>
              Edit Profile
            </a>
          </li>

          <li class="profile-dropdown-list-item">
            <a href="#" id="logout-header-link">
              <i class="fa-solid fa-arrow-right-from-bracket"></i>
              Log out
            </a>
          </li>
        </ul>
      </div>
    </nav>