{% load static %}
<link rel="stylesheet" href="{% static 'css/chat/chat.css' %}">
<div class="chat-content">

    <div class="container" style="min-height: unset">
        <div class="friend-conversation-list-container">

            <div class="friend-conversation-list-header">
                <div class="friend-conversation-list-header-title">

                    <h2 class="">
                        Friends
                    </h2>

                    <i class="fa-solid fa-arrow-rotate-left actualize-friends-chat"></i>
                </div>


                <div class="search-bar-container-chat">
                    <input type="text" id="search-bar-friends-chat" placeholder="Search a friend ...">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>

            <div class="friend-conversation-list">


                {% if request.user and request.user.friends.all %}
                    {% for friend in request.user.friends.all %}

                        <div class="friend-conversation-item" data-id="{{ friend.id }}" onclick="updateActiveFriendConversationItem({{ friend.id }})">

                            <div class="friend-conversation-item-profile-img-container">
                                &nbsp;
                                <img src="{{ friend.get_profile_picture_url }}" alt="{{ friend.first_name }} {{ friend.last_name }}"
                                     class="friend-conversation-item-profile-img">
                            </div>

                            <div class="friend-conversation-item-message-preview">

                                <div class="friend-conversation-item-message-preview-top">
                                    <span class="friend-conversation-item-pseudo">
                                        {{ friend.pseudo }}
                                    </span>

                                    <span class="friend-conversation-item-datetime">
                                        04/10/2024
                                    </span>
                                </div>

                                <div class="friend-conversation-item-message-preview-bottom">

                                    <span class="friend-conversation-item-last-message">
                                        ooh you can play with me my best friend because this message is very long
                                    </span>
                                </div>

                                <div id="center-div">
                                    <div class="bubble">
                                        <span class="bubble-outer-dot item-chat">
                                            <span class="bubble-inner-dot" style="background-color: {% if friend.is_online %}green{% else %}red{% endif %};"></span>


                                            </span>
                                        </span>
                                    </div>
                                </div>

                            </div>



                        </div>
                    {% endfor %}
                {% else %}
                    <li class="no-results">No friends found.</li>
                {% endif %}
            </div>


            
        </div>
        <div class="messaging open v-hidden">
            <div class="inbox_msg">

                <div class="options-user-button-container">
                        <span>
                            <i class="fa-regular fa-user view-profile"></i>
                        </span>

                        <span>
                            <i class="fa-solid fa-table-tennis-paddle-ball play-game"></i>
                        </span>

                        <span>
                            <i class="fa-solid fa-ban ban-user"></i>
                        </span>
                </div>
                
                <div class="mesgs">
                    
                    <div class="msg_history">
                        <!-- <div class="incoming_msg">
                            <div class="incoming_msg_img"><img src="https://www.w3schools.com/howto/img_avatar.png"
                                                               alt="sunil"> Mona
                            </div>
                            <div class="received_msg">
                                <div class="received_withd_msg">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                        unknown printer took a galley of type and scrambled it to make a type specimen
                                        book.</p>
                                    <span class="time_date"> 11:01 AM    |    June 9</span></div>
                            </div>
                        </div>
                        <div class="outgoing_msg">
                            <div class="sent_msg">
                                <p>It is a long established fact that a reader will be distracted by the readable
                                    content of a page when looking at its layout.</p>
                                <span class="time_date"> 11:01 AM    |    June 9</span></div>
                        </div> -->
                    </div>

                </div>
            </div>
            <p id="userblocked" class="hidden">
                This user is blocked. 
                <button id="unblock-user-button" class="unblock-btn hidden">Unblock User</button>
            </p>
            <div class="input-message-container d-flex">
                <input id="input-message" placeholder="Enter a message ..." type="text" />
                <div class="icon-send">
                    <i class="fa-regular fa-paper-plane"></i>
                </div>
            </div>


        </div>


    </div>
</div>

<script src="{% static 'js/chat/chat.js' %}"></script>
