
/* reset CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
}

.user-profile {
  max-height: 38px;
  border-radius: 20px;
}

.navbar-logo {
  max-height: 50px;
}

.navbar-list {
  width: 70% !important;
  text-align: right;
  padding-right: 2rem;
}

.navbar {
  display: flex;
}

.content {
  height: 100%;
}

@font-face {
    font-family: 'FuturaPT';
    src: url('/static/font/futura/FuturaPTBold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPT';
    src: url('/static/font/futura/FuturaPTBoldOblique.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'FuturaPT';
    src: url('/static/font/futura/FuturaPTBook.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPT';
    src: url('/static/font/futura/FuturaPTBookOblique.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'FuturaPT';
    src: url('/static/font/futura/FuturaPTMedium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPT';
    src: url('/static/font/futura/FuturaPTMediumOblique.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'FuturaPT';
    src: url('/static/font/futura/FuturaPTExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPT';
    src: url('/static/font/futura/FuturaPTExtraBoldOblique.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
}


body, header {
  font-family: 'FuturaPT', sans-serif;
  font-weight: 800;
  font-style: normal;
}

header {
    font-family: 'FuturaPT', sans-serif;
    font-weight: bold;
    font-style: normal;
}

body{
  background-color: #c9d6ff;
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);

  height: 100vh;
}

.spinner-border {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100001;
  /* display: none; */
}

.bg-loader {
  background-color: grey;
  opacity: 0.4;
  position:absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 100000;
}

#loader {
  display: none;
}

.profile-dropdown-list {
  z-index: 3;
}

.d-flex {
    display: flex;
}

.not-s {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.not-g {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    cursor: default;
}

img {
    max-width: 200px;
}