
/* reset CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

.d-block {
    display: block;
}
body {
	line-height: 1;
  display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
}

.user-profile {
  max-height: 38px;
  border-radius: 20px;
}

.navbar-logo {
  max-height: 50px;
}

.navbar-list {
  width: 70% !important;
  text-align: right;
  padding-right: 2rem;
}

.navbar {
  display: flex;
}

.content {
  height: 100%;
}

@font-face {
    font-family: 'FuturaPT';
    src: url('/static/font/futura/FuturaPTBold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPT';
    src: url('/static/font/futura/FuturaPTBoldOblique.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'FuturaPT';
    src: url('/static/font/futura/FuturaPTBook.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPT';
    src: url('/static/font/futura/FuturaPTBookOblique.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'FuturaPT';
    src: url('/static/font/futura/FuturaPTMedium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPT';
    src: url('/static/font/futura/FuturaPTMediumOblique.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'FuturaPT';
    src: url('/static/font/futura/FuturaPTExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPT';
    src: url('/static/font/futura/FuturaPTExtraBoldOblique.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
}


body, header {
  font-family: 'FuturaPT', sans-serif;
  font-weight: 800;
  font-style: normal;
}

header {
    font-family: 'FuturaPT', sans-serif;
    font-weight: bold;
    font-style: normal;
}

body{
  background-color: #c9d6ff;
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);

  height: 100%;
  min-height: 110vh;
}

.spinner-border {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100001;
  /* display: none; */
}

.bg-loader {
  background-color: grey;
  opacity: 0.4;
  position:absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 100000;
}

#loader {
  display: none;
}

.profile-dropdown-list {
  z-index: 3;
}

.d-flex {
    display: flex;
}

.d-none {
  display: none;
}

.v-hidden {
  visibility: hidden;
}

.v-visible {
  visibility: visible;
}

.not-s {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.not-g {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    cursor: default;
}

img {
    max-width: 200px;
}


.navbar{
	padding-left: 0 !important;
}
.content{
	width: 100%;
}
.side-bar{
    width: 80px;
    min-width: 80px;

    height: auto;
    background-color: #292D39;
    margin-top: -20px;
	padding-right: 0%;
	margin-right: 0%;
}
.main-content{
	height: 100%
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #ebebeb;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #6d6d6d;
}


.main-content {
    height: auto !important;
}

.side-bar {
    height: auto;
}

.main-content {
    height: 100% !important;
}

button.flash-message-btn {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button.flash-message-btn:hover {
    background-color: #ddd;
}

.flash-container {
    position: fixed;
    top: 80%;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px; /* Set a fixed width for the container */
    font-weight: 500;
    font-style: normal;
}

.flash-message {
    position: relative;
    padding: 15px 20px;
    border-radius: 4px;
    color: white;
    font-size: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: slideIn 0.5s ease, fadeOut 0.5s ease 2.5s;
    overflow: hidden;
    width: 100%; /* Make sure the message takes full width of the container */
    word-wrap: break-word;
    max-height: 100px; /* Set a maximum height */
    overflow-y: auto; /* Allow vertical scrolling if needed */
}

.flash-message::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    animation: running-color 3s infinite;
}

@keyframes running-color {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(100%); }
}

.flash-message.success {
    background-color: #4caf50;
}

.flash-message.error {
    background-color: #f44336;
}

.flash-message.warning {
    background-color: #ff9800;
}

.flash-message.info {
    background-color: #2196f3;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

