{% load static %}
<link rel="stylesheet" href="{% static 'css/history_match/history_match.css' %}">


<div class="match-history-wrapper">
    <h2 class="match-history-title">MATCH HISTORY</h2>
    <ul class="match-history-list">

        <li class="match-history-item match-victory">
            <div class="player-info-wrapper">
                <img src="{{ request.user.get_profile_picture_url }}" alt="Player's Profile Picture" class="player-image">
            </div>
            <div class="content-versus">
                <span class="versus">Vs</span>
            </div>
            <div class="opponent-info-wrapper">
                <span class="opponent-name">jdoe</span>
                <img src="https://www.w3schools.com/howto/img_avatar.png" alt="John Doe's Profile Picture" class="opponent-image">
            </div>
            <div class="match-stats">
                <span class="match-date">2024-09-01</span>
                <span class="match-score">Score: 3-1</span>
                <span class="match-duration">Duration: 3min 32s</span>
            </div>
        </li>

        <li class="match-history-item match-defeat">
            <div class="player-info-wrapper">
                <img src="{{ request.user.get_profile_picture_url }}" alt="Player's Profile Picture" class="player-image">
            </div>
            <div class="content-versus">
                <span class="versus">Vs</span>
            </div>
            <div class="opponent-info-wrapper">
                <span class="opponent-name">jsmith</span>
                <img src="https://www.w3schools.com/howto/img_avatar2.png" alt="Jane Smith's Profile Picture" class="opponent-image">
            </div>
            <div class="match-stats">
                <span class="match-date">2024-09-02</span>
                <span class="match-score">Score: 2-3</span>
                <span class="match-duration">Duration: 2min 58s</span>
            </div>
        </li>

        <li class="match-history-item match-victory">
            <div class="player-info-wrapper">
                <img src="{{ request.user.get_profile_picture_url }}" alt="Player's Profile Picture" class="player-image">
            </div>
            <div class="content-versus">
                <span class="versus">Vs</span>
            </div>
            <div class="opponent-info-wrapper">
                <span class="opponent-name">abourgeo</span>
                <img src="https://www.w3schools.com/w3images/avatar2.png" alt="Alex Bourgeois's Profile Picture" class="opponent-image">
            </div>
            <div class="match-stats">
                <span class="match-date">2024-09-03</span>
                <span class="match-score">Score: 4-0</span>
                <span class="match-duration">Duration: 4min 17s</span>
            </div>
        </li>

        <li class="match-history-item match-defeat">
            <div class="player-info-wrapper">
                <img src="{{ request.user.get_profile_picture_url }}" alt="Player's Profile Picture" class="player-image">
            </div>
            <div class="content-versus">
                <span class="versus">Vs</span>
            </div>
            <div class="opponent-info-wrapper">
                <span class="opponent-name">mcrespo</span>
                <img src="https://www.w3schools.com/w3images/avatar6.png" alt="Maxime Crespo's Profile Picture" class="opponent-image">
            </div>
            <div class="match-stats">
                <span class="match-date">2024-09-04</span>
                <span class="match-score">Score: 1-2</span>
                <span class="match-duration">Duration: 5min 24s</span>
            </div>
        </li>
        
        <li class="match-history-item match-victory">
            <div class="player-info-wrapper">
                <img src="{{ request.user.get_profile_picture_url }}" alt="Player's Profile Picture" class="player-image">
            </div>
            <div class="content-versus">
                <span class="versus">Vs</span>
            </div>
            <div class="opponent-info-wrapper">
                <span class="opponent-name">jdoe</span>
                <img src="https://www.w3schools.com/howto/img_avatar.png" alt="John Doe's Profile Picture" class="opponent-image">
            </div>
            <div class="match-stats">
                <span class="match-date">2024-09-01</span>
                <span class="match-score">Score: 3-1</span>
                <span class="match-duration">Duration: 3min 32s</span>
            </div>
        </li>

        <li class="match-history-item match-defeat">
            <div class="player-info-wrapper">
                <img src="{{ request.user.get_profile_picture_url }}" alt="Player's Profile Picture" class="player-image">
            </div>
            <div class="content-versus">
                <span class="versus">Vs</span>
            </div>
            <div class="opponent-info-wrapper">
                <span class="opponent-name">jsmith</span>
                <img src="https://www.w3schools.com/howto/img_avatar2.png" alt="Jane Smith's Profile Picture" class="opponent-image">
            </div>
            <div class="match-stats">
                <span class="match-date">2024-09-02</span>
                <span class="match-score">Score: 2-3</span>
                <span class="match-duration">Duration: 2min 58s</span>
            </div>
        </li>

        <li class="match-history-item match-victory">
            <div class="player-info-wrapper">
                <img src="{{ request.user.get_profile_picture_url }}" alt="Player's Profile Picture" class="player-image">
            </div>
            <div class="content-versus">
                <span class="versus">Vs</span>
            </div>
            <div class="opponent-info-wrapper">
                <span class="opponent-name">abourgeo</span>
                <img src="https://www.w3schools.com/w3images/avatar2.png" alt="Alex Bourgeois's Profile Picture" class="opponent-image">
            </div>
            <div class="match-stats">
                <span class="match-date">2024-09-03</span>
                <span class="match-score">Score: 4-0</span>
                <span class="match-duration">Duration: 4min 17s</span>
            </div>
        </li>

        <li class="match-history-item match-defeat">
            <div class="player-info-wrapper">
                <img src="{{ request.user.get_profile_picture_url }}" alt="Player's Profile Picture" class="player-image">
            </div>
            <div class="content-versus">
                <span class="versus">Vs</span>
            </div>
            <div class="opponent-info-wrapper">
                <span class="opponent-name">mcrespo</span>
                <img src="https://www.w3schools.com/w3images/avatar6.png" alt="Maxime Crespo's Profile Picture" class="opponent-image">
            </div>
            <div class="match-stats">
                <span class="match-date">2024-09-04</span>
                <span class="match-score">Score: 1-2</span>
                <span class="match-duration">Duration: 5min 24s</span>
            </div>
        </li>

    </ul>
</div>

