{% load static %}
<link rel="stylesheet" href="{% static 'css/history_match/history_match.css' %}">

<div class="match-history-wrapper">
  <h2 class="match-history-title">MATCH HISTORY</h2>
  <ul class="match-history-list">
      {% for game in request.user.getHistoryGame %}
      <li class="match-history-item {{ game.result }}">
          <div class="player-info-wrapper">
              <img src="{{ request.user.get_profile_picture_url }}" alt="Player's Profile Picture" class="player-image">
          </div>
          <div class="content-versus">
              <span class="versus">Vs</span>
          </div>
          <div class="opponent-info-wrapper">
              <span class="opponent-name">{{ game.opponent_name }}</span>
              <img src="{{ game.opponent_image }}" alt="Opponent's Profile Picture" class="opponent-image">
          </div>
          <div class="match-stats">
              <span class="match-date">{{ game.date }}</span>
              <span class="match-score">Score: {{ game.score }}</span>
              <span class="match-duration">Duration: {{ game.duration }}</span>
          </div>
      </li>
      {% empty %}
      <li class="label-no-games-found">No games found.</li>
      {% endfor %}
  </ul>
</div>
