{% load static %}
<link rel="stylesheet" href="{% static 'css/profile/profile_edit.css' %}">

<div class="content-form-profile">
    
    <div class="title-container-profile">
        <span>SETTINGS</span>
    </div>
    
    <div class="main-profile-part">
        <div class="left-menu-profile">

        </div>

        <div class="right-profile-container">
            <form id="form-edit-profile" class="form-edit-profile">
                <div class="form-section">
                    <h2>PERSONAL INFORMATION</h2>

                    <label for="pseudo">Pseudo</label>
                    <input type="text" id="pseudo" name="pseudo" value="{{ request.user.pseudo|lower }}">

                    <label for="first-name">First name</label>
                    <input type="text" id="first-name" name="first-name" value="{{ request.user.first_name|lower|capfirst }}">

                    <label for="last-name">Last name</label>
                    <input type="text" id="last-name" name="last-name" value="{{ request.user.last_name|lower|capfirst  }}">

                    <label for="birth-date">Birth date</label>
                    <input type="text" id="birth-date" name="birth-date" value="{{ request.user.birth_city }}">

                    <label for="birth-city">Birth city</label>
                    <input type="text" id="birth-city" name="birth-city" value="{{ request.user.birth_city }}">
                </div>

                <div class="form-section">
                    <h2>CONTACT</h2>
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" value="{{ request.user.email }}">

                    <label for="phone">Phone</label>
                    <input type="text" id="phone" name="phone" value="{{ request.user.phone_number }}">

                    <label for="">Profile Picture</label>

                    <div class="profile-pic">
                        <label class="-label" for="file-input">
                            <span>Change Picture</span>
                        </label>
                        <input id="file-input" type="file" name="profile-picture" />

                        <img id="profile-pic-preview" src="{{ request.user.get_profile_picture_url }}" alt="Current profile picture" width="100">
                    </div>


                    <button id="submitBtn" type="submit">SAVE</button>
                    
                </div>

            </form>
        </div>
    </div>
    
    
</div>

<script src="{% static 'js/profile/profile.js' %}"></script>