
{% load static %}

<link rel="stylesheet" href="{% static 'css/login/login.css' %}">



<div class="container-flex-login">
  <div class="container" id="container" style="scale: 1.3">

    <div class="form-container sign-up">
        <form id="signup-form">
{% csrf_token %}

            <h1>Create Account</h1>

            <a 
              class="icon ft-oth-link"
              href="">
                
              <img class="logo-42-login" src="{% static 'images/login/42_logo.png' %}" alt="logo 42">

              </a>

            <span>or use your email for registeration</span>
            <input type="text" placeholder="Name" name="name" required minlength="4">
            <input type="email" placeholder="Email" name="email" required minlength="4">
            <input type="password" placeholder="Password" name="password" autocomplete="on" required minlength="4">
            <button>Sign Up</button>
            <span id="invalid-signup"></span>
        </form>
    </div>

    <div class="form-container sign-in">
        <form id="signin-form">
            <h1>Sign In</h1>

            <div class="social-icons">
              <a 
              class="icon ft-oth-link"
              href="">
                
              <img class="logo-42-login" src="{% static 'images/login/42_logo.png' %}" alt="logo 42">

              </a>
            </div>

            <span>or use your email password</span>
            <input type="email" placeholder="Email" name="email" required>
            <input type="password" placeholder="Password" name="password" autocomplete="on" required>
            <a href="#">Forget Your Password?</a>
            <button>Sign In</button>
            <span id="invalid-signin"></span>
        </form>
    </div>
    <div class="toggle-container">
        <div class="toggle">
            <div class="toggle-panel toggle-left">
                <h1>Welcome Back!</h1>
                <p>Enter your personal details to use all of site features</p>
                <button class="toggle-button" id="login">Sign In</button>
            </div>
            <div class="toggle-panel toggle-right">
                <h1>Hello, Friend!</h1>
                <p>Register with your personal details to use all of site features</p>
                <button class="toggle-button" id="register">Sign Up</button>
            </div>
        </div>
    </div>
  </div>
</div>

  <script src="{% static 'js/login/login.js' %}"></script>

<style>
    .container-flex-login {
        margin-top: 10%;
        height: 700px;
    }

    #invalid-signin, #invalid-signup {
        color: red;
        text-align: start;
        margin-top: 10px;
    }
</style>