
{% load static %}

<link rel="stylesheet" href="{% static 'css/login/login.css' %}">



<div class="container-flex-login">
  <div class="container" id="container" style="scale: 1.3">

    <div class="form-container sign-up">
        <form id="signup-form">
            {% csrf_token %}

            <h1>Create Account</h1>

                <a 
                class="icon ft-oth-link"
                href="{{ redirect_string }}">
                    
                    <div class="ft-oth-link-container">
                        
                        <span>
                            register with &nbsp;&nbsp;
                        </span>
        
                    <img class="logo-42-login-v2" src="/static/images/logo/42_logo_white.svg" alt="logo 42">

                    </div>

                </a>



            <span>or use your email for registeration</span>
            <input type="text" placeholder="Name" name="name" required minlength="4">
            <input type="email" placeholder="Email" name="email" required minlength="4">
            <input type="password" placeholder="Password" name="password" autocomplete="on" required minlength="4">
            <button>Sign Up</button>
            <span id="invalid-signup"></span>
        </form>
    </div>

    <div class="form-container sign-in">
        <form id="signin-form">
            <h1>Sign In</h1>

              <a 
              class="icon ft-oth-link"
              href="{{ redirect_string }}">
                
              <div class="ft-oth-link-container">
                    <span>
                        connect with &nbsp;&nbsp;
                    </span>
                <img class="logo-42-login-v2" src="/static/images/logo/42_logo_white.svg" alt="logo 42">
              </div>
              
              

              </a>

            <span>or use your email password</span>
            <input type="email" placeholder="Email" name="email" required>
            <input type="password" placeholder="Password" name="password" autocomplete="on" required>
            <!-- <a href="#">Forget Your Password?</a> -->
            <button>Sign In</button>
            <span id="invalid-signin"></span>
        </form>
    </div>
    <div class="toggle-container">
        <div class="toggle">
            <div class="toggle-panel toggle-left">
                <h1>Welcome Back!</h1>
                <p>Enter your personal details to use all of site features</p>
                <button class="toggle-button" id="login">Sign In</button>
            </div>
            <div class="toggle-panel toggle-right">
                <h1>Hello, Friend!</h1>
                <p>Register with your personal details to use all of site features</p>
                <button class="toggle-button" id="register">Sign Up</button>
            </div>
        </div>
    </div>
  </div>
</div>

<div class="twoFa-container parrent">
    {% include '2fa/2fa.html' %}
</div>

  <script src="{% static 'js/login/login.js' %}"></script>

<style>
    .container-flex-login {
        margin-top: 40px;
        height: 700px;
    }

    #invalid-signin, #invalid-signup {
        color: red;
        text-align: start;
        margin-top: 10px;
    }

</style>

<script>
    let ftOthLink = document.querySelector("a.ft-oth-link");

    // avoir le token d'autorisation de 42
    document.addEventListener('DOMContentLoaded', () => {
        let currentUrl = window.location.href;
        if (currentUrl.search("code") <= -1) {
             // hasn't a token
             console.log("Without Token !");
             return ;
        } else {
            console.log("Token !");
            document.getElementById('loader').style.display = 'unset';
        }
        let splitUrl = currentUrl.split("/");
        let codePart = splitUrl[splitUrl.length - 1];
        let code = codePart.split("code=")[1];

        fetch('/get-oth-autorization/', {
             method: "POST",
             mode: "cors",
             headers: {
                "Content-Type": "application/json",
                "Accept": "application/json"
            },
            body: JSON.stringify({
                code: code,
                sign_method: "signin"
            }),
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error(`Erreur`);
                }
                return response.json();
            })
            .then(data => {
                if (data['wait-two-fa']) {
                    history.pushState(null, '', "/login");
                    document.querySelector(".container-flex-login").style.display = "none";
                    document.querySelector(".twoFa-container.parrent").style.display = "flex";
                    document.getElementById('loader').style.display = 'none';
                    localStorage.setItem('token', data.token);
                } else if (data['login']) {
                    history.pushState(null, '', "/dashboard");
                    document.querySelector(".user-pseudo-header").setAttribute("data-user-id", data['id_loggin']);
                    initDashboard(data['user'][0]['fields']);
                    localStorage.setItem('token', data.token);
                    goToNextPage();
                    document.querySelector(".side-bar").classList.add("d-block");
                    document.querySelector(".side-bar" ).style.display = "block";
                }

            })
            .catch(error => {
                console.error('Erreur:', error);
                document.body.innerHTML = '<p>Une erreur est survenue lors du chargement de la page.</p>';
            });


    });

</script>