{% extends 'base/base.html' %}
{% load static %}

{% block title %}Connexion{% endblock %}
{% block header %}{% endblock %}
{% block sideBar %}{% endblock %}

{% block overload_css %}
    <link rel="stylesheet" href="{% static 'css/login/login.css' %}">
{% endblock %}

{% block content %}


<div class="container-flex-login" style="margin-top: 40px">
  <div class="container" id="container" style="scale: 1.3">

    <div class="form-container sign-up">
        <form id="signup-form">
{% csrf_token %}

            <h1>Create Account</h1>

            <a 
              class="icon ft-oth-link"
              href="">
                
              <img class="logo-42-login" src="{% static 'images/login/42_logo.png' %}" alt="logo 42">

              </a>

            <span>or use your email for registeration</span>
            <input type="text" placeholder="Name">
            <input type="email" placeholder="Email">
            <input type="password" placeholder="Password">
            <button>Sign Up</button>
        </form>
    </div>

    <div class="form-container sign-in">
        <form>
            <h1>Sign In</h1>

            <div class="social-icons">
              <a 
              class="icon ft-oth-link"
              href="">
                
              <img class="logo-42-login" src="{% static 'images/login/42_logo.png' %}" alt="logo 42">

              </a>
            </div>

            <span>or use your email password</span>
            <input type="email" placeholder="Email">
            <input type="password" placeholder="Password">
            <a href="#">Forget Your Password?</a>
            <button>Sign In</button>
        </form>
    </div>
    <div class="toggle-container">
        <div class="toggle">
            <div class="toggle-panel toggle-left">
                <h1>Welcome Back!</h1>
                <p>Enter your personal details to use all of site features</p>
                <button class="hidden" id="login">Sign In</button>
            </div>
            <div class="toggle-panel toggle-right">
                <h1>Hello, Friend!</h1>
                <p>Register with your personal details to use all of site features</p>
                <button class="hidden" id="register">Sign Up</button>
            </div>
        </div>
    </div>
  </div>
</div>

  <script src="{% static 'js/login/login.js' %}"></script>


{% endblock %}