
.bg-funky {
    background: #FF1744;
}

.heading {
    color: #fff;
    margin: 30px;
    font-weight: 600;
}

.chat-content img {
    max-width: 100%;
}

.inbox_msg {
    border: 1px solid #c4c4c4;
    clear: both;
    overflow: hidden;
}

.top_spac {
    margin: 20px 0 0;
}


.recent_heading {
    float: left;
    width: 40%;
}

.headind_srch {
    padding: 10px 29px 10px 20px;
    overflow: hidden;
    border-bottom: 1px solid #c4c4c4;
}

.recent_heading h4 {
    color: #05728f;
    font-size: 21px;
    margin: auto;
}

.chat_ib h5 {
    font-size: 15px;
    color: #464646;
    margin: 0 0 8px 0;
}

.chat_ib h5 span {
    font-size: 13px;
    float: right;
}

.chat_ib p {
    font-size: 14px;
    color: #989898;
    margin: auto
}

.chat_img {
    float: left;
    width: 11%;
}

.chat_ib {
    float: left;
    padding: 0 0 0 15px;
    width: 88%;
}

.chat_people {
    overflow: hidden;
    clear: both;
}

.chat_list {
    border-bottom: 1px solid #c4c4c4;
    margin: 0;
    padding: 18px 16px 10px;
}

.inbox_chat {
    height: 550px;
    overflow-y: scroll;
}

.active_chat {
    background: #ebebeb;
}

.incoming_msg_img {
    display: inline-block;
    width: 6%;
}

.received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
}

.received_withd_msg p {
    background: #e4e8fb none repeat scroll 0 0;
    border-radius: 3px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.time_date {
    color: #747474;
    display: block;
    font-size: 10px;
    margin: 3px 0 0;
}

.received_withd_msg {
    width: 70%;
}

.mesgs {
    float: left;
    padding: 40px;
}

.sent_msg p {
    background: #3F51B5 none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 14px;
    margin: 0;
    color: #fff;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.outgoing_msg {
    overflow: hidden;
    margin: 26px 0 26px;
}

.sent_msg {
    float: right;
    width: 70%;
    text-align: right;
}

.input_msg_write input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 48px;
    width: 100%;
}

.type_msg {
    border-top: 1px solid #c4c4c4;
    position: relative;
}

.msg_send_btn {
    background: #05728f none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 33px;
    position: absolute;
    right: 0;
    top: 11px;
    width: 33px;
}

.messaging {
    background: #fff;
}

.msg_history {
    max-height: 516px;
    overflow-y: auto;
}

.credit {
    margin-bottom: 20px;
    margin-top: 20px;
}

.credit a {
    color: #fff;
    font-weight: 300;
    letter-spacing: 2px;
    border-bottom: dotted 1px;
}

.chat-content .container {
    width: 500px;
}

.messaging {
    border-radius: 30px;
}

.inbox_msg {
    border: none;
}

.received_withd_msg p, .sent_msg p {
    border-radius: 15px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


.chat-content {
    font-family: 'FuturaPT';
    font-weight: 500;
    font-style: normal;
}

#input-message-container, #input-message {
    width: 85%;
}

.icon-send {
    width: 15%;
    text-align: center;
    border: 1px solid black;
    border-left: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 31px 0px;
}

.input-message-container {
    align-items: center;
    height: 70px;
}

#input-message {
    height: 100%;
    text-decoration: none;
    border: 1px solid black;
    border-right: none;
    text-indent: 10px;
}

#input-message:focus {
    outline: none;
    border: 1px solid black;
    border-right: none;
}

.icon-send i:hover {
    color: #00BABC;
    cursor: pointer;
}

.msg_history {
    padding-right: 10px;
}

.sent_msg .time_date {
    padding-right: 10px;
}

.msg_history::-webkit-scrollbar {
    width: 3px;
}

.mesgs {
    padding-right: 10px;
}

.msg_history::-webkit-scrollbar-track {
    background-color: #ebebeb;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.msg_history::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #6d6d6d;
}

.msg_history img {
    border-radius: 50%;
    margin-right: 10px;
}

.incoming_msg_img {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-bottom: 5px;
}

.chat-close {
    text-align: center;
    background: white;
    border-radius: 20px;
    width: 90px;
    margin-top: 10px;
}

.close-button-container {
    text-align: end;
    padding: 40px;
    padding-bottom: 0;
    color: black;
}

.close-button-container i:hover {
    color: #00BABC;
    cursor: pointer;
}

.messaging {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    width: 100%;
}

.messaging.open {
    max-height: 1000px;
    margin-left: 10px;
}



.chat-close {
    cursor: pointer;
    padding: 10px;
    text-align: center;
}

.close-button-container {
    cursor: pointer;
}

.hidden {
    display: none;
}

.chat-close:hover {
    color: #00BABC;
}

.chat-content ::-webkit-scrollbar-track {
    margin-top: 20px;
    margin-bottom: 100px;
}

.msg_history {
    overflow: unset;
}

.mesgs {
    height: 400px;
    overflow: auto;
}

.chat-content ::-webkit-scrollbar {
    width: 5px;
}

.chat-content ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background: #00BABC;

}

.input-message-container, #input-message, .icon-send {
    border: none;
}

#input-message:focus {
    outline: none;
    border: none;
}

.choose-options-lobby-container {
    width: fit-content;
    background-color: white;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
}

.top-options-lobby {
    display: flex;
}

.player-information-container {
    display: flex;
}

.avatar-carousel-lobby {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.avatar-carousel-lobby button {
    background-color: white;
    height: 40px;
}

.avatar-carousel-lobby img {
    border-radius: 50%;
    height: 200px;
    margin: 5px;
}

.first-part-top-options-lobby {
    margin-right: 80px;
    background-color: whitesmoke;
    padding: 50px;
    border-radius: 20px;
}

.second-part-top-options-lobby {
    margin-right: 80px;
    background-color: whitesmoke;
    padding: 50px;
    border-radius: 20px;
}

.choose-pseudo-lobby {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
}

.bottom-options-lobby {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.launch-button-game-content {
    padding: 30px 30px;
    background-color: #00BABC;
    text-decoration: none;
    font-weight: 500;
    font-style: normal;
    color: white;
    border: none;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
}

.launch-button-game-content:hover {
    opacity: 0.9;
    scale: 1.1;
    color: black;

}

.avatar-carousel-lobby button {
    text-decoration: none;
    border: none;
    background-color: whitesmoke;
    transition: all 0.3s ease-in-out;
    padding: 20px;
}

.avatar-carousel-lobby button:hover {
    scale: 1.3;
    color: #00BABC;
}

.choose-mode {
    padding: 25px 40px;
    background-color: #538888;
    color: white;
    font-style: normal;
    font-weight: 500;
    margin: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;

}

.choose-mode.active-mode {
    background-color: #00BABC;
}

.choose-mode:hover {
    cursor: pointer;
    color: black;
    scale: 1.1;
}

.choose-mode-lobby {
    height: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.title-choose-mode , .title-edit-player-lobby {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 600;
    font-style: normal;
}

.choose-pseudo-lobby input {
    padding: 20px;
    text-decoration: none;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.choose-pseudo-lobby input:focus {
    outline: none;
}

.choose-pseudo-lobby input:active {
    outline: none;
}

.randon-button-avatar-lobby {
    padding: 20px;
    border-radius: 50%;
    background-color: white;
    position: relative;
    bottom: 30px;
    left: 130px;
    border: 2px solid black;
    margin-right: -55px;
}

.randon-button-avatar-lobby:hover {
    cursor: pointer;
    color: #00BABC;
}

/* Modal Background */
.lobby-matchmaking-modal {
    display: none; /* Cacher par défaut */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
    z-index: 1000; /* Superposer la modale au reste du contenu */
    justify-content: center;
    align-items: center;
}

/* Modal Content */
.lobby-matchmaking-modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}

/* Avatar Styling */
.lobby-matchmaking-modal-avatar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

/* Text and dots */
.lobby-matchmaking-modal-text {
    font-size: 18px;
    font-weight: bold;
}

.lobby-matchmaking-modal-dots::after {
    content: '';
    animation: loadingDots 1.5s infinite;
}

/* Animation for 3 dots */
@keyframes loadingDots {
    0% { content: ''; }
    33% { content: '.'; }
    66% { content: '..'; }
    100% { content: '...'; }
}

.lobby-matchmaking-modal-avatar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

.lobby-matchmaking-modal-avatar img.fade-out {
    opacity: 0;
}


.lobby-matchmaking-modal-content button {
    border: none;
    color: red;
    background: white;
    position: relative;
    left: 120px;
    padding: 10px;
    transition: scale 0.3s ease-in-out;

}

.lobby-matchmaking-modal-content button:hover {
    scale: 1.3;
}

.lobby-content {
    margin-top: 20px;
}

@media screen and (max-width: 1300px) {

    .top-options-lobby {
        display: block;
    }

    .second-part-top-options-lobby {
        margin-top: 20px;
    }

    .first-part-top-options-lobby, .second-part-top-options-lobby {
        margin-right: auto;
        margin-left: auto;
    }

    .choose-options-lobby-container {
        width : 90%;
    }

    .bottom-options-lobby {
        height: 110px;
    }

    .launch-button-game-content {
        padding: 30px 50px;
    }
}

@media screen and (max-width: 850px) {

    .player-information-container{
        display: block;
    }

    .choose-pseudo-lobby {
        margin-top: 20px;
    }



}