
.content-pong {
	align-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
	height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#quitButton {
    margin-right: 80px;
}
.header-pong {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.header-pong .modal-content {
    position: absolute;
    top: 50px;
}

#quitModal {
    background-color: rgba(0, 0, 0, 0.3);
}

#quitModal {
    font-family: 'FuturaPT', sans-serif !important;
    font-style: normal !important;
    font-weight: 500 !important;
}

#playButton, #pauseButton {
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: #00BABC;
    color: white;
    border: 1px solid gray;
}

#playButton:hover, #pauseButton:hover {
    opacity: 0.8;
}

.left-header-pong {
    display: block;
    text-align: justify;
    padding: 30px;
    background-color: white;
    border-radius: 20px;
}

.title-options-game {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
}

#playButton, #pauseButton {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.options-games {
    font-weight: 600;
    font-style: normal;
}

.row-option-game {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.container-playButton {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-right: 8%;
    flex-direction: column;
}

.title-options {
    width: 90%;
}

.reset-button-container:hover {
    color: #00BABC;
    cursor: pointer;
}

.left-header-pong {
    margin-right: auto;
    margin-left: auto;
}

.pong-container {
    display: none;
    margin-right: 8%;
}

#pong:hover {
    cursor: pointer;
}

.pre-config-color-pong {
    display: flex;
    justify-items: center;
    justify-content: space-evenly;
    align-content: center;
    font-style: normal;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
}

.row-config {
    background-color: whitesmoke;
    border: 2px solid black;
    padding: 20px 30px;
    border-radius: 3px;
    width: 120px;
    text-align: center;
    transition: scale 0.3s ease-in-out;
}

.row-config:hover {
    cursor: pointer;
    scale: 1.1;
}

.row-config.active {
    background-color: #00BABC;
    color: white;
}