.theme {
    height: 100%;
    width: 100%;
    position: absolute;
}
.bracket {
    padding: 40px;
    margin: 5px;
}
.bracket {
    display: flex;
    flex-direction: row;
    position: relative;
}
.column {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: space-around;
    align-content: center;
}
.match {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 240px;
    max-width: 240px;
    height: 120px;
    margin: 12px 24px 12px 0;
}
.match .match-top {
    border-radius: 2px 2px 0 0;
}
.match .match-bottom {
    border-radius: 0 0 2px 2px;
}
.match .team {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    position: relative;
}
.match .team span {
    padding-left: 8px;
}
.match .team span:last-child {
    padding-right: 8px;
}
.match .team .score {
    margin-left: auto;
}
.match .team:first-child {
    margin-bottom: -1px;
}
.match-lines {
    display: block;
    position: absolute;
    top: 50%;
    bottom: 0;
    margin-top: 0px;
    right: -1px;
}
.match-lines .line {
    background: red;
    position: absolute;
}
.match-lines .line.one {
    height: 1px;
    width: 12px;
}
.match-lines .line.two {
    height: 75px;
    width: 1px;
    left: 11px;
}
.match-lines.alt {
    left: -12px;
}
.match:nth-child(even) .match-lines .line.two {
    transform: translate(0, -100%);
}
.column:first-child .match-lines.alt {
    display: none;
}
.column:last-child .match-lines {
    display: none;
}
.column:last-child .match-lines.alt {
    display: block;
}
.column:nth-child(2) .match-lines .line.two {
    height: 147px;
}
.column:nth-child(3) .match-lines .line.two {
    height: 175px;
}
.column:nth-child(4) .match-lines .line.two {
    height: 262px;
}
.column:nth-child(5) .match-lines .line.two {
    height: 349px;
}
.disable-image .image,
.disable-seed .seed,
.disable-name .name,
.disable-score .score {
    display: none !important;
}
.disable-borders {
    border-width: 0px !important;
}
.disable-borders .team {
    border-width: 0px !important;
}
.disable-seperator .match-top {
    border-bottom: 0px !important;
}
.disable-seperator .match-bottom {
    border-top: 0px !important;
}
.disable-seperator .team:first-child {
    margin-bottom: 0px;
}

.tournament-container {
    font-weight: 600;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.bracket-victory {
    background-color: #D4EDDA;
}

.bracket-defeat {
    background-color: #F8D7DA;
}

.title-tournament {
    margin-top: 30px;
    width: 872px;
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
}

.tournament-content, .title-tournament {
    background-color: #FFFFFF;

}

.tournament-content {
    margin: 0;
}

.team img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.team .seed {
    margin-right: 10px;
}


@media screen and (max-width: 1200px) {

    .tournament-container {
        scale: 0.7;
    }
}


@media screen and (max-width: 700px) {

    .tournament-container {
        scale: 0.5;
    }
}

.connexion-tournament {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
}

.connexion-tournament {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f5f8fc;
  border: 1px solid #ddd;
  border-radius: 16px;
  width: 300px;
  font-family: Arial, sans-serif;
}

.create-options-tournament,
.join-options-tournament {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px 0;
}

.players-selection {
  display: flex;
  align-items: center;
}

.arrow-button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.number-tournament {
  width: 40px;
  text-align: center;
  font-size: 18px;
  margin: 0 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.play-button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #4b99e1;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s;
}

.play-button:hover {
  background-color: #3a87c7;
}

.or-divider {
  font-weight: bold;
  color: #666;
  margin: 10px 0;
}

.input-join-code-tournament {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

.tournament-container { 
  display: none;
}

.arrow-button, .play-button {
  transition: all 0.3s ease-in-out ;
}

.arrow-button:hover {
  color: #00BABC;
  scale: 1.3;
}

.play-button {
  margin-top: 20px;
}

.play-button:hover {
  scale: 1.2;
}