{% load static %}
<link rel="stylesheet" href="{% static 'css/tournament/tournament.css' %}">
<script src="{% static 'js/tournament/tournament.js' %}"></script>


<div class="connexion-tournament" id="create-or-join-section">
    <div class="create-options-tournament">
        <label>Tournament Name:</label>
        <input type="text" id="tournament-name" placeholder="Tournament Name">
        <button class="play-button" onclick="onCreateTournament()">CREATE</button>
    </div>
    
    <div class="or-divider">OR</div>
    
    <div class="join-options-tournament">
        <input type="text" id="join-tournament-id" placeholder="Enter Tournament Code">
        <button class="play-button" onclick="onJoinTournament()">JOIN</button>
    </div>
</div>

<div id="waiting-room" style="display:none;">
    <h2>Waiting Room</h2>
    <p id="waiting-room-message">Waiting for players to join...</p>
    <div id="player-list">
        <h3>Players Joined:</h3>
        <ul id="player-names"></ul>
    </div>
</div>

<div class="tournament-container theme theme-dark" id="tournament-section" style="display:none;">
    <div class="title-tournament">TOURNAMENT</div>
    <div class="tournament-content bracket disable-image" id="tournament-bracket"></div>
</div>


<div class="tournament-game-container" style="display: none;">
    <canvas id="tournamentPongCanvas" width="600" height="400"></canvas>
</div>
