.content-form-profile {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.form-edit-profile.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-edit-profile .form-section {
    width: 50%;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-edit-profile h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
}

.form-edit-profile label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-edit-profile input[type="text"],
.form-edit-profile input[type="email"],
.form-edit-profile select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-edit-profile input[type="checkbox"] {
    margin-right: 10px;
}

.form-edit-profile button {
    background-color: #00BABC;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.form-edit-profile button:hover {
    background-color: #008889;
}

.form-edit-profile {
    display: flex;
    background-color: white;
}

.form-edit-profile .form-section {
    margin: 20px;
    border: none;
    box-shadow: none;
}

.title-container-profile {
    background-color: white;
    padding: 20px;
    font-size: 20px;
}

.main-profile-part {
    background-color: white;
}

.title-container-profile span {
    padding-left: 20px;
}

/* Variables CSS */
:root {
    --circle-size: 165px;
    --radius: 100px;
    --shadow: 0 0 10px 0 rgba(255, 255, 255, .35);
    --font-color: rgb(250, 250, 250);
}

/* Centrage des éléments */
.object-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style pour la photo de profil */
.profile-pic {
    color: transparent;
    position: relative;
    transition: all .3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-pic input {
    display: none;
}

.profile-pic img {
    position: absolute;
    object-fit: cover;
    width: var(--circle-size);
    height: var(--circle-size);
    box-shadow: var(--shadow);
    border-radius: var(--radius);
    z-index: 0;
}

.profile-pic .-label {
    cursor: pointer;
    height: var(--circle-size);
    width: var(--circle-size);
}

.profile-pic:hover .-label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
    color: var(--font-color);
    transition: background-color .2s ease-in-out;
    border-radius: var(--radius);
    position: relative;
    top: 5px;
}

.profile-pic span {
    display: inline-flex;
    padding: .2em;
    height: 2em;
}

.form-edit-profile #submitBtn {
    margin-top: 20px;
}

#submitBtn {
    transition: transform 0.1s ease, opacity 0.1s ease;
    opacity: 1;
}

#submitBtn:active {
    transform: scale(1.2);
    opacity: 0.8;
}


@media screen and (max-width: 850px) {


    .form-edit-profile {
        display: block;
    }

    .form-edit-profile .form-section {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

}

.switch-2fa-log {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }
  
  .switch-2fa-log input {
    display:none;
  }
  
  .slider-2fa-log {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider-2fa-log:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
  }
  
  input:checked + .slider-2fa-log {
    background-color: #66bb6a;
  }
  
  input:checked + .slider-2fa-log:before {
    transform: translateX(26px);
  }
  
  .slider-2fa-log.round-2fa-log {
    border-radius: 34px;
  }
  
  .slider-2fa-log.round-2fa-log:before {
    border-radius: 50%;
  }
  
  .container-2fa-log {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  
.birth-day-container{
    display: none !important;
}