.chat-content .container {
	border-radius: 0;
	box-shadow: none;
	display: flex;
	width: 80%;
	min-width: 400px;
	max-width: 800px;
	padding: 0;
}

.chat-content {
	margin-top: 20px;
}

.chat-content .friend-conversation-item-profile-img-container img {
	position: relative;
	bottom: 15px;
}


.input-message-container.d-flex {
	padding-bottom: 10px;
}

.friend-conversation-item-profile-img {
	width: 30px;
	border-radius: 50%;
}

.friend-conversation-item {
	display: flex;
	font-family: 'FuturaPT';
	font-style: normal;
	font-weight: 500;
	padding-left: 10px;
    padding-right: 10px;
	padding-top: 5px;
	width: 100%;
}

.friend-conversation-item-message-preview {
	margin-left: 10px;
	width: 100%;
	
}

.friend-conversation-item-last-message {
 
    text-overflow: ellipsis;
	font-size: 14px !important;
	padding-top: 5px;
	display: inline-block;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	padding-bottom: 5px;
}

.friend-conversation-list-container {
	width: 400px;
	border-right: 1px solid #EEEEEE;
}

.friend-conversation-item-message-preview-top {
	display: flex;
	justify-content: space-between;
}

.friend-conversation-list {
	margin-top: 10px;
	max-height: 400px;
    overflow-x: auto;
}

.friend-conversation-list-header-title {
	text-align: center;
	padding-top: 10px;
	font-size: 18px;
}

.friend-conversation-item-pseudo {
	font-weight: 600;
	font-size: 16px;
}

.friend-conversation-item-datetime {
	font-weight: 600;
	font-size: 10px !important;
}

.friend-conversation-item-profile-img-container {
	width: 40px;
}

.friend-conversation-item:hover {
	background-color: aliceblue;
	cursor: pointer;
}


@media screen and (max-width: 1100px) {
    
}

.options-user-button-container {
	text-align: end;
    margin-right: 10px;
    margin-top: 10px;
}

.options-user-button-container i {
	font-size: 20px;
	padding-left: 5px;
}

.options-user-button-container i:hover {
	cursor: pointer;
	color: #00BABC;
}

.ban-user {
	color: red;
}

.search-bar-container-chat {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}

.search-bar-container-chat {
	display: flex;
	align-items: center;
}
.search-bar-container-chat i{
	position: relative;
	right: 25px;
}


.bubble-outer-dot {
	position: relative;
	right: 57px;
	bottom: 5px;
}

.bubble-outer-dot.item-chat {
	position: relative;
	left: 42px;
	bottom: 7px;
}

.active-chat-friend-conversation-item {
	background-color: aliceblue;
}

.actualize-friends {
	position: relative;
	margin-right: 10px;
	transition: scale 0.3s ease-in-out;
}

.actualize-friends:hover {
	scale: 1.1;
	cursor: pointer;
	color: #6d6d6d;
}

.friend-conversation-list-header-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	width: 92%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 20px;
}



.actualize-friends-chat:hover {
	scale: 1.1;
	color: gray;
	cursor: pointer;
}
.actualize-friends-chat {
	transition: scale 0.3s ease-in-out;
}

.options-user-button-container {
	display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.or-divider {
	text-align: center;
}