{% load static %}
<link rel="stylesheet" href="{% static 'css/ranking/ranking.css' %}">

<div class="leaderboard-container">
    <div class="top-contributors">
        <h2 class="board-title">RANKING</h2>
        <ul class="contributor-list ranking">

            {% for player in request.user.getRanking %}
                <li class="contributor-item {% if player.id == request.user.id %}highlight{% endif %}">
                    <span class="position-number">{{ forloop.counter }}</span>
                    <img src="{{ player.profile_picture_url }}" alt="{{ player.first_name }}">
                    <div class="contributor-details">
                        <span class="contributor-name">{{ player.first_name|lower|capfirst }} {{ player.last_name|lower|capfirst }}</span>
                        <span class="contributor-username">@{{ player.pseudo|lower }}</span>
                    </div>
                    <div class="performance-stats">
                        <span class="matches-won">Matches Won: {{ player.matches_won }}</span>
                        <span class="titles-won">Titles Won: {{ player.titles_won }}</span>
                    </div>
                </li>
            {% empty %}
                <li class="label-no-games-found">No players found in the ranking.</li>
            {% endfor %}

        </ul>
    </div>
</div>
