

<div class="chat-content">

<div class="container">
	<div class="messaging">
		<div class="inbox_msg">

			<div class="mesgs">
			<div class="msg_history">
				<div class="incoming_msg">
				<div class="incoming_msg_img"> <img src="https://www.w3schools.com/howto/img_avatar.png" alt="sunil"> Mona</div>
				<div class="received_msg">
					<div class="received_withd_msg">
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
					<span class="time_date"> 11:01 AM    |    June 9</span></div>
				</div>
				</div>
				<div class="outgoing_msg">
				<div class="sent_msg">
					<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
					<span class="time_date"> 11:01 AM    |    June 9</span> </div>
				</div>
				<div class="incoming_msg">
				<div class="incoming_msg_img"> <img src="https://www.w3schools.com/howto/img_avatar.png" alt="sunil"> Mona</div>
				<div class="received_msg">
					<div class="received_withd_msg">
					<p>Test, which is a new approach to have</p>
					<span class="time_date"> 11:01 AM    |    Yesterday</span></div>
				</div>
				</div>
				<div class="outgoing_msg">
				<div class="sent_msg">
					<p>Apollo University, Delhi, India Test</p>
					<span class="time_date"> 11:01 AM    |    Today</span> </div>
				</div>
				<div class="incoming_msg">
				<div class="incoming_msg_img"> <img src="https://www.w3schools.com/howto/img_avatar.png" alt="sunil"> Mona</div>
				<div class="received_msg">
					<div class="received_withd_msg">
					<p>We work directly with our designers and suppliers,
						and sell direct to you, which means quality, exclusive
						products, at a price anyone can afford.</p>
					<span class="time_date"> 11:01 AM    |    Today</span></div>
				</div>
				</div>
			</div>

			</div>
		</div>
		<div class="input-message-container d-flex">
			<input id="input-message" placeholder="Enter a message ...">
			</input>
			<div class="icon-send">
				<i class="fa-regular fa-paper-plane"></i>
			</div>
		</div>
		

  </div>

	
</div>