{% load static %}

<div class="lobby-content">

    <div class="choose-options-lobby-container">

        <div class="top-options-lobby">

            <div class="first-part-top-options-lobby">
                <div class="title-edit-player-lobby not-s not-g">
                    <span>EDIT</span>
                    <span><i class="fa-solid fa-gear"></i></span>
                </div>

                <div class="player-information-container">

                    <div class="avatar-carousel-lobby not-s not-g">
                        <button id="prev">&#10094;</button>
                        <div class="avatar-container-lobby not-s not-g">
                            <img class="avatar-content-lobby not-s not-g" src="/static/images/avatar/avatar_1.svg" alt="Avatar" />
                            <span class="not-s not-g randon-button-avatar-lobby"><i class="fa-solid fa-shuffle"></i></span>
                        </div>
                        <button id="next">&#10095;</button>
                    </div>

                    <div class="choose-pseudo-lobby">
                        <input type="text" maxlength="8" placeholder="Pseudo">
                    </div>

                </div>

            </div>

            <div class="second-part-top-options-lobby" style="display: none;">
                <div class="title-choose-mode not-s not-g">
                    <span>MODE</span>
                    <span><i class="fa-solid fa-user-gear"></i></span>
                </div>
                <div class="choose-mode-lobby">

                    <div class="choose-mode-container">

                        <div class="choose-mode solo-mode active-mode">

                            <span class="label-choose-mode solo-mode">
                                SOLO
                            </span>

                            <span class="icon-choose-mode solo-mode">
                                <i class="fa-solid fa-wifi"></i>
                            </span>

                        </div>

                        <div class="choose-mode solo-mode">

                            <span class="label-choose-mode solo-mode">
                                INVITE
                            </span>

                            <span class="icon-choose-mode solo-mode">
                                <i class="fa-solid fa-user-group"></i>
                            </span>

                        </div>

                    </div>

                </div>
            </div>

        </div>

        <div class="bottom-options-lobby">

            <div class="launch-button-game-lobby">
                <button class="launch-button-game-content">
                    <span class="label-launch-game-lobby">
                        PLAY
                    </span>
                    <span class="icon-launch-game-lobby">
                        <i class="fa-solid fa-play"></i>
                    </span>
                </button>
            </div>

        </div>

    </div>

    <div class="content-pong">

        <div class="left-header-pong" id="settingslobby">

            <div class="title-options-game">

                <div class="title-options">
                    SETTINGS
                </div>
            </div>
            <div class="options-games">

                <div class="pre-config-color-pong">
                    <div class="row-config active classic" id="classicConfig">
                        <span>CLASSIC</span>
                    </div>

                    <div class="row-config fun" id="funConfig">
                        <span>FUN</span>
                    </div>

                </div>

                <div class="pre-config-color-pong">
                    <div class="row-config-2 active classic" id="map0" data-map-type="false">
                        <span>Map 0</span>
                    </div>

                    <div class="row-config-2 fun" id="map1" data-map-type="true">
                        <span>Map 1</span>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

{% include "lobby/modal/matchmaking.html" %}
<link rel="stylesheet" href="/static/css/lobby/lobby.css">
<script src="{% static 'js/lobby/lobby.js' %}"></script>
