<div class="lobby-matchmaking-modal not-s not-g" id="matchmakingModal">
    <div class="lobby-matchmaking-modal-content not-s not-g">
        <button onclick="closeMatchmakingModal()"><i class="fa-solid fa-xmark"></i></button>
        <div class="lobby-matchmaking-modal-avatar not-s not-g">
            <img  id="matchmakingAvatar" class="not-s not-g"  src="/static/images/avatar/avatar_1.svg" alt="Avatar" />
        </div>
        <div class="lobby-matchmaking-modal-text not-s not-g">
            En cours de recherche<span class="lobby-matchmaking-modal-dots"></span>
        </div>
    </div>
</div>
