{% load static %}

<link rel="stylesheet" href="{% static 'css/pong/pong.css' %}">

<div class="header-pong">
    
    <div class="dummy">
        
    </div>
    
    <div class="right-header-pong">
        <button type="button" class="btn btn-danger" id="quitButton">Leave</button>

        <div class="modal fade" id="quitModal" tabindex="-1" aria-labelledby="quitModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="quitModalLabel">Confirm Leave</h5>
                        <button type="button" class="btn-close" id="closeModal">&times;</button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to leave the game?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="cancelButton">Cancel</button>
                        <button type="button" class="btn btn-danger" id="confirmQuit">Leave</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="content-pong">
    
    <div class="left-header-pong" id="goofysettings">

        <div class="title-options-game">

            <div class="title-options" >
                SETTINGS
            </div>
<!-- 
            <div class="reset-button-container">
                <i class="fa-solid fa-arrow-rotate-left"></i>
            </div> -->
        </div>
        <div class="options-games">

            <!-- <div class="row-option-game">
                <label for="locballColor">Ball : </label>
                <input type="color" id="locballColor" value="#FFFFFF">
            </div>

            <div class="row-option-game">
                <label for="locuserPaddleColor">Player paddle : </label>
                <input type="color" id="locuserPaddleColor" value="#FFFFFF">
            </div>

            <div class="row-option-game">
                <label for="loccomPaddleColor">AI paddle : </label>
                <input type="color" id="loccomPaddleColor" value="#FFFFFF">
            </div>

            <div class="row-option-game">
                <label for="locnetColor">Net : </label>
                <input type="color" id="locnetColor" value="#FFFFFF">
            </div>

            <div class="row-option-game">
                <label for="locbackgroundGame">Background : </label>
                <input type="color" id="locbackgroundGame" value="#000000">
            </div> -->
            
            <div class="pre-config-color-pong">
                <div class="row-config active classic" id="locclassicConfig">
                    <span>CLASSIC</span>
                </div>

                <div class="row-config fun" id="locfunConfig">
                    <span>FUN</span>
                </div>
                
            </div>

            <div class="pre-config-color-pong">
                <div class="row-config-2 active classic" id="locmap0">
                    <span>Map 0</span>
                </div>

                <div class="row-config-2 fun" id="locmap1">
                    <span>Map 1</span>
                </div>
                
            </div>

        </div>



        <div class="container-playButton">
            <button id="playButton"><i class="fa-solid fa-play"></i></button>
            <button id="pauseButton" style="display: none;"><i class="fa-solid fa-pause"></i></button>
        </div>
    </div>
    
    <div class="pong-container">
        <canvas id="pong" width="600" height="400"></canvas>
    </div>
</div>

<script src="{% static 'js/pong/pong.js' %}"></script>
<script src="{% static 'js/pong/confirm_leave_pong_modal.js' %}"></script>