{% load static %}

<link rel="stylesheet" href="{% static 'css/pong/pong.css' %}">

<div class="header-pong">
    
    <div class="dummy">
        
    </div>
    
    <div class="right-header-pong">
        <button type="button" class="btn btn-danger" id="quitButton">Leave</button>

        <div class="modal fade" id="quitModal" tabindex="-1" aria-labelledby="quitModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="quitModalLabel">Confirm Leave</h5>
                        <button type="button" class="btn-close" id="closeModal">&times;</button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to leave the game?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="cancelButton">Cancel</button>
                        <button type="button" class="btn btn-danger" id="confirmQuit">Leave</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="content-pong">
    
    <div class="left-header-pong">

        <div class="title-options-game">
            SETTINGS
        </div>
        <div class="options-games">
            <label for="ballColor">Ball color: </label>
            <input type="color" id="ballColor" value="#FFFFFF">
            <br><br>

            <label for="userPaddleColor">Player paddle color: </label>
            <input type="color" id="userPaddleColor" value="#FFFFFF">
            <br><br>

            <label for="comPaddleColor">AI paddle color: </label>
            <input type="color" id="comPaddleColor" value="#FFFFFF">
            <br><br>

            <label for="netColor">Net color: </label>
            <input type="color" id="netColor" value="#FFFFFF">
            <br><br>
        </div>



        <button id="playButton">Play</button>
    </div>
    
    <div class="pong-container">
        <canvas id="pong" width="600" height="400"></canvas>
    </div>
</div>