{% load static %}

<link rel="stylesheet" href="{% static 'css/pong/pong.css' %}">

<div class="header-pong">
    
    <div class="dummy">
        
    </div>
    
    <div class="right-header-pong">
        <button type="button" class="btn btn-danger" id="quitButton">Leave</button>

        <div class="modal fade" id="quitModal" tabindex="-1" aria-labelledby="quitModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="quitModalLabel">Confirm Leave</h5>
                        <button type="button" class="btn-close" id="closeModal">&times;</button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to leave the game?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="cancelButton">Cancel</button>
                        <button type="button" class="btn btn-danger" id="confirmQuit">Leave</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="content-pong">
    
    <div class="left-header-pong">

        <div class="title-options-game">

            <div class="title-options">
                SETTINGS
            </div>

            <div class="reset-button-container">
                <i class="fa-solid fa-arrow-rotate-left"></i>
            </div>
        </div>
        <div class="options-games">

            <div class="row-option-game">
                <label for="ballColor">Ball : </label>
                <input type="color" id="ballColor" value="#FFFFFF">
            </div>

            <div class="row-option-game">
                <label for="userPaddleColor">Player paddle : </label>
                <input type="color" id="userPaddleColor" value="#FFFFFF">
            </div>

            <div class="row-option-game">
                <label for="comPaddleColor">AI paddle : </label>
                <input type="color" id="comPaddleColor" value="#FFFFFF">
            </div>

            <div class="row-option-game">
                <label for="netColor">Net : </label>
                <input type="color" id="netColor" value="#FFFFFF">
            </div>

            <div class="row-option-game">
                <label for="backgroundGame">Background : </label>
                <input type="color" id="backgroundGame" value="#000000">
            </div>

        </div>



        <div class="container-playButton">
            <button id="playButton">Play</button>
            <button id="pauseButton" style="display: none;">Pause</button>
        </div>
    </div>
    
    <div class="pong-container">
        <canvas id="pong" width="600" height="400"></canvas>
    </div>
</div>