{% load static %}


<div class="dashboard-header">

    <div class="dashboard-picture-header-container not-s not-g ">
         <img class="dashboard-picture-header not-s not-g "
              src="{{ request.user.get_profile_picture_url }}"
              alt="picture image"
         >
    </div>
    
    
    <div class="center-dashboard-header">
        
        <div class="first-right-header">

            <div class="polygon-container not-s">
                    <svg viewBox="0 0 68 104" class="polygon">
                        <polygon points="0,0 0,80.5 34.3,104 68,80.5 68,0" />
                    </svg>

                    {% if request.user.coalition_cover_url %}
                            <img class="dashboard-picture-header not-s not-g icon "
                            src="{{ request.user.coalition_image_url}}"
                            alt="picture image"
                            >
                    {% else %}
                        <img class="dashboard-picture-header not-s not-g icon "
                            src="https://cdn.intra.42.fr/coalition/image/45/federation.svg"
                            alt="picture image"
                            >
                    {% endif%}

            </div>

            <div class="left-polygon">
                <div class="information-group-dashboard not-s">

                    <div class="rank-container">
                        <div class="row-rank">
                            <span><i class="fa-solid fa-trophy"></i></span>
                            <span>1769</span>
                        </div>

                        <div class="row-rank" style="margin-left: 25px">
                            <span><i class="fa-solid fa-ranking-star"></i></span>
                            <span>35</span>
                        </div>
                    </div>

                    <div class="pseudo-container">
                        <div class="row-pseudo">
                            <span>
                                {% if request.user.first_name and request.user.last_name %}
                                    {{ request.user.first_name|lower|capfirst }} {{ request.user.last_name|lower|capfirst  }}
                                {% else %}
                                    {{ request.user.pseudo|lower }}
                                {% endif %}

                            </span>
                        </div>
                    </div>

                </div>

                <div class="link-edit-profile-dashboard">
                    <a href="" id="link-edit"><i class="fa-solid fa-pen"></i></a>
                </div>
            </div>
            
        </div>

        <div class="second-right-header not-s">
            <div class="progress-bar" value="70">
                <span class="label-experience">Level 7 - 70%</span>
                <div class="progress" style="width: 70%"></div>
            </div>
        </div>

    </div>
    
    <div class="end-header-dashboard">
        
        <div class="information-dashboard-user-container">
            <div class="row-info phone">
                <span><i class="icon fa-solid fa-phone"></i></span>
                <span>
                    {% if request.user.phone_number %}
                        {% load custom_filters %}
                        <a href="tel:{{ request.user.phone_number }}">{{ request.user.phone_number|format_phone  }}</a>
                    {% else %}
                        <span>Not Provided</span>
                    {% endif %}

                </span>
            </div>

            <div class="row-info mail">
                <span><i class="icon fa-regular fa-envelope" style="font-weight: lighter"></i></span>
                <span class="data"><a href="mailto:{{ request.user.email }}">{{ request.user.email}}</a></span>
            </div>


            <div class="row-info city">
                <span><i class="icon fa-solid fa-city"></i></span>
                <span class="data">Paris</span>
            </div>

            <div class="row-info createdAt">
                <span><i class="icon fa-solid fa-calendar-days"></i></span>
                <span class="data">2027-09-03</span>
            </div>
        </div>
        
        
    </div>
    
    
    
    
</div>

<div class="sub-first-container-dashboard">
    <div class="sub-first-content-dashboard">
        {% include 'ranking/ranking_content.html' %}
    </div>
    
    <div class="sub-first-content-dashboard" >
        {% include 'history_match/history_match_content.html' %}
    </div>
    
    <div class="data-card-dashboard sub-first-content-dashboard">
        <div class="col-md-4 metric-row first-line" >
          <div class="card text-white bg-primary mb-3">
              <div class="card-body">
                  <h5 class="card-title">
                      <i class="fas fa-gamepad"></i> Number of Games Played
                  </h5>
                  <p class="card-text display-4">124</p>
              </div>
          </div>
      </div>

      <!-- Number of Games Won -->
      <div class="col-md-4 metric-row first-line">
          <div class="card text-white bg-success mb-3">
              <div class="card-body inversed-text">
                  <h5 class="card-title">
                      <i class="fas fa-trophy"></i> Number of Games Won
                  </h5>
                  <p class="card-text display-4">87</p>
              </div>
          </div>
      </div>

      <!-- Number of Games Lost -->
      <div class="col-md-4 metric-row first-line">
          <div class="card text-white bg-danger mb-3">
              <div class="card-body">
                  <h5 class="card-title">
                      <i class="fas fa-times-circle"></i> Number of Games Lost
                  </h5>
                  <p class="card-text display-4">37</p>
              </div>
          </div>
      </div>
    </div>
</div>

<div class="content-dashboard">
    
  <div class="row">
      <!-- Level (lvl) -->
      <div class="col-md-4">
          <div class="card text-white bg-info mb-3">
              <div class="card-body inversed-text">
                  <h5 class="card-title">
                      <i class="fas fa-level-up-alt"></i> Level (lvl)
                  </h5>
                  <p class="card-text display-4">15</p>
              </div>
          </div>
      </div>

      <!-- Average Game Duration -->
      <div class="col-md-4">
          <div class="card text-white bg-warning mb-3">
              <div class="card-body">
                  <h5 class="card-title">
                      <i class="fas fa-clock"></i> Average Game Duration
                  </h5>
                  <p class="card-text display-4">45 min</p>
              </div>
          </div>
      </div>

      <!-- Win Percentage -->
      <div class="col-md-4">
          <div class="card text-white bg-secondary mb-3">
              <div class="card-body inversed-text">
                  <h5 class="card-title">
                      <i class="fas fa-percentage"></i> Win Percentage
                  </h5>
                  <p class="card-text display-4">70%</p>
              </div>
          </div>
      </div>
  </div>
</div>

<link rel="stylesheet" href="{% static 'css/dashboard/dashboard.css' %}">
<script src="{% static 'js/dashboard/dashboard.js' %}"></script>


{% if request.user.coalition_cover_url %}
    <style>
        .dashboard-header {
            background-image: url({{ request.user.coalition_cover_url }});
        }

        .progress {
            background-color: {{ request.user.coalition_color }};
        }

        .row-info.mail .data a {
            color: {{ request.user.coalition_color }};
        }

        polygon {
            fill: {{ request.user.coalition_color }};
            stroke: {{ request.user.coalition_color }};
        }

    </style>
{% endif %}
