{% load static %}

<div class="dashboard-header">


    

    <div class="dashboard-picture-header-container not-s not-g ">
         <img class="dashboard-picture-header not-s not-g "
              src="{{ request.user.get_profile_picture_url }}"
              alt="picture image"
         >
    </div>
    
    
    <div class="center-dashboard-header">
        
        <div class="first-right-header">

            <div class="polygon-container not-s">
                    <svg viewBox="0 0 68 104" class="polygon">
                        <polygon points="0,0 0,80.5 34.3,104 68,80.5 68,0" />
                    </svg>

                    {% if request.user.coalition_cover_url %}
                            <img class="dashboard-picture-header not-s not-g icon "
                            src="{{ request.user.coalition_image_url}}"
                            alt="picture image"
                            >
                    {% else %}
                        <img class="dashboard-picture-header not-s not-g icon "
                            src="https://cdn.intra.42.fr/coalition/image/45/federation.svg"
                            alt="picture image"
                            >
                    {% endif%}

            </div>

            <div class="left-polygon">
                <div class="information-group-dashboard not-s">

                    <div class="rank-container"  style="display:none;">
                        <div class="row-rank">
                            <span><i class="fa-solid fa-trophy"></i></span>
                            <span>1769</span>
                        </div>

                        <div class="row-rank" style="margin-left: 25px">
                            <span><i class="fa-solid fa-ranking-star"></i></span>
                            <span>35</span>
                        </div>
                    </div>

                    <div class="pseudo-container">
                        <div class="row-pseudo">
                            <span>
                                {% if request.user.first_name and request.user.last_name %}
                                    {{ request.user.first_name|lower|capfirst }} {{ request.user.last_name|lower|capfirst  }}
                                {% else %}
                                    {{ request.user.pseudo|lower }}
                                {% endif %}

                            </span>
                        </div>
                    </div>

                </div>

                <div class="link-edit-profile-dashboard">
                    <a href="" id="link-edit"><i class="fa-solid fa-pen"></i></a>
                </div>
            </div>
            
        </div>

        <div class="second-right-header not-s">
            <div class="progress-bar" value="70"  style="display:none;">
                <span class="label-experience">Level 7 - 70%</span>
                <div class="progress" style="width: 70%"></div>
            </div>
        </div>

    </div>
    
    <div class="end-header-dashboard">
        
        <div class="information-dashboard-user-container">
            <div class="row-info phone"  style="display:none;">
                <span><i class="icon fa-solid fa-phone"></i></span>
                <span class="data">
                    <a href="tel:{{ request.user.phone_number|default:'' }}" 
                       class="{% if request.user.phone_number %}phone-link{% else %}label-phone-dashboard{% endif %}">
                        {{ request.user.phone_number|default:"Not Provided" }}
                    </a>
                </span>
            </div>

            <div class="row-info mail">
                <span><i class="icon fa-regular fa-envelope" style="font-weight: lighter"></i></span>
                <span class="data"><a href="mailto:{{ request.user.email }}">{{ request.user.email}}</a></span>
            </div>


            <div class="row-info city"  style="display:none;">
                <span><i class="icon fa-solid fa-city"></i></span>
                <span class="data">Paris</span>
            </div>

            <div class="row-info createdAt"  style="display:none;">
                <span><i class="icon fa-solid fa-calendar-days"></i></span>
                <span class="data">2027-09-03</span>
            </div>
        </div>
        
        
    </div>
    
    
    
    
</div>

<div id="friends-container" class="sub-first-container-dashboard">
    <div class="sub-first-content-dashboard">
        {% include 'friends/friends_content.html' %}
    </div>
</div>


<div class="sub-first-container-dashboard">
    <div class="sub-first-content-dashboard" >
        {% include 'history_match/history_match_content.html' %}
    </div>
    <div class="sub-first-content-dashboard">
        {% include 'ranking/ranking_content.html' %}
    </div>
    

    <div class="sub-first-container-dashboard">
        <div class="sub-first-content-dashboard">
            <h3>Player Ranking - Matches Won</h3>
            <div id="rankingBarChart" class="bar-chart"></div>
        </div>
    </div>
	
    
    
</div>

<link rel="stylesheet" href="{% static 'css/dashboard/dashboard.css' %}">
<script src="{% static 'js/dashboard/dashboard.js' %}"></script>

<style>
    .bar-chart {
        width: 100%;
        max-width: 600px;
        margin: 20px auto;
        padding: 10px;
        border: 1px solid #ccc;
        background: #f9f9f9;
    }

    .bar {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .bar-label {
        width: 100px;
        font-size: 14px;
        padding-right: 10px;
        text-align: right;
    }

    .bar-container {
        flex-grow: 1;
        display: flex;
        align-items: center;
    }

    .bar-visual {
        height: 20px;
        background-color: #4caf50;
        transition: width 0.3s ease-in-out;
    }

    .bar-visual:hover {
        background-color: #45a049;
    }

    .bar-value {
        margin-left: 10px;
        font-size: 12px;
    }
</style>



{% if request.user.coalition_cover_url %}
    <style>
        .dashboard-header {
            background-image: url({{ request.user.coalition_cover_url }});
        }

        .progress {
            background-color: {{ request.user.coalition_color }};
        }

        .row-info.mail .data a {
            color: {{ request.user.coalition_color }};
        }

        polygon {
            fill: {{ request.user.coalition_color }};
            stroke: {{ request.user.coalition_color }};
        }

    </style>
{% endif %}

